NODE_ENV=local
POSTGRES_USER=yourpostgresuserpassword
POSTGRES_PASSWORD=yourpostgrespassword
POSTGRES_DB=test
POSTGRES_PORT=5432

HOST=localhost
PORT=3000

DB_HOST=yourdbhost
DB_PORT=yourdbport
DB_PASS=yourdbpassword
DB_USER=yourusername
DB_NAME=yourdbname

JWT_SECRET=youurjwtsecret