PORT=3000
NODE_ENV=local
POSTGRES_USER=yourpostgresuserpassword
POSTGRES_PASSWORD=yourpostgrespassword
POSTGRES_DB=test
POSTGRES_PORT=5432

DB_URL=yourdbhosturl

JWT_SECRET=youurjwtsecret
ENABLE_CORS=http://localhost:3000